<!DOCTYPE html>
<html>
<head>
    <title>Questions</title>
    <link rel="icon" href="/icons/icon-1-50.png">
    <link rel="stylesheet" href="/styles/styleTheme.css">
    <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            function updateLives() {
                $.get('/gamemodes', function(data) {
                    console.log(data);
                    $('#lives-count').text(data.lives);
                });
            }

            setInterval(updateLives, 20000);

            updateLives();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            let timeLeft = 20;
            let extraTimeUsed = false;
            const timerElement = document.getElementById('timer-bar');
            const formElement = document.getElementById('question-form');
            const extraTimeButton = document.getElementById('extra-time-button');
            const fiftyFiftyButton = document.getElementById('fifty-fifty-button');

            const countdown = setInterval(() => {
                timeLeft -= 1;

                if (timeLeft < 0) {
                    clearInterval(countdown);
                    handleTimeOut();
                } else {
                    const percentage = (timeLeft / (extraTimeUsed ? 40 : 20)) * 100;
                    timerElement.style.width = `${percentage}%`;

                    if (timeLeft > 10) {
                        timerElement.style.backgroundColor = 'green';
                    } else if (timeLeft > 6) {
                        timerElement.style.backgroundColor = 'yellow';
                    } else if (timeLeft > 3) {
                        timerElement.style.backgroundColor = 'orange';
                    } else {
                        timerElement.style.backgroundColor = 'red';
                    }
                }
            }, 1000);

            function handleTimeOut() {
                document.getElementById('timeout').value = 'true';
                formElement.submit();
            }

            extraTimeButton.addEventListener('click', () => {
                if (!extraTimeUsed && <%= @current_user.cant_coins %> >= 75) {
                    fetch('/use_extra_time', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ user_id: <%= @current_user.id %> })
                    }).then(response => {
                        if (response.ok) {
                            extraTimeUsed = true;
                            timeLeft += 20;
                            extraTimeButton.disabled = true;
                            document.querySelector('.currency span').textContent -= 75;
                        } else {
                            response.json().then(data => {
                                alert('Error: ' + data.error);
                            });
                        }
                    }).catch(error => {
                        alert('Failed to use extra time: ' + error.message);
                    });
                }
            });

            fiftyFiftyButton.addEventListener('click', () => {
                if (<%= @current_user.cant_coins %> >= 150) {
                    fetch('/use_50_50', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ user_id: <%= @current_user.id %>, question_id: <%= @question.id %> })
                    }).then(response => {
                        if (response.ok) {
                            response.json().then(data => {
                                data.removed_options.forEach(optionId => {
                                    document.getElementById(`option_${optionId}`).parentNode.style.display = 'none';
                                });
                                fiftyFiftyButton.disabled = true;
                                document.querySelector('.currency span').textContent -= 150;
                            });
                        } else {
                            response.json().then(data => {
                                alert('Error: ' + data.error);
                            });
                        }
                    }).catch(error => {
                        alert('Failed to use 50-50: ' + error.message);
                    });
                }
            });
        });
    </script>
</head>
<body>
<header>
    <div class="left">
        <a href="/gamemodes" class="menu-item" id="back"> <i class="fa-solid fa-arrow-left"> </i></a>
    </div>
    <div class="right">
        <div class="user-info">
            <div class="currency">
                <img src="/icons/coin.png" alt="Monedas" class="icon">
                <span><%= @current_user ? @current_user.cant_coins : 0 %></span>
            </div>
            <div class="lives">
                <img src="/icons/heart.png" alt="Vidas" class="icon">
                <span id="lives-count"><%= @current_user ? @current_user.cant_life : 0 %></span>
            </div>
            <div class="profile">
                <img src="<%= @current_user.profile.profile_picture %>" alt="Profile" class="profile-pic" onclick="toggleProfileMenu()">
                <div id="profile-menu" class="profile-menu">
                    <a href="/profile">Profile</a>
                    <a href="/logout">Log out</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <% if session[:message] %>
        <div class="feedback-message" style="color: <%= session[:color] %>;">
            <p><%= session[:message] %></p>
        </div>
        <% session.delete(:message) %>
        <% session.delete(:color) %>
    <% end %>

    <div class="question-container">
        <% if feedback_message %>
            <div class="feedback-message" style="color: <%= feedback_color %>;">
                <p><%= feedback_message %></p>
                <form action="<%= @form_action %>" method="get">
                    <button type="submit" class="next-button">Next</button>
                </form>
            </div>
        <% else %>
            <div class="question-and-wildcard">
                <div class="question-content">
                    <div class="timer">
                        <div id="timer-bar"></div>
                    </div>
                    <h2 class="question-title"><%= @question.name_question %></h2>
                    <form id="question-form" action="<%= @form_action %>" method="post" class="question-form">
                        <% @options.each do |option| %>
                            <div class="option">
                                <input type="radio" id="option_<%= option.id %>" name="option_id" value="<%= option.id %>" class="option-input" required>
                                <label for="option_<%= option.id %>" class="option-label"><%= option.name_option %></label>
                            </div>
                        <% end %>
                        <input type="hidden" name="timeout" id="timeout" value="false">
                        <input type="hidden" name="question_id" value="<%= @question.id %>">
                        <button type="submit" class="submit-button">Check Answer</button>
                    </form>
                </div>
                <div id="wildcards-container">
                    <div class="wildcard">
                        <button id="extra-time-button" class="wildcard-button" title="Use Extra Time (75 coins)" style="background-image: url('/icons/clock.png');"></button>
                        <p class="wildcard-title">Extra Time</p>
                    </div>
                    <div class="wildcard">
                        <button id="fifty-fifty-button" class="wildcard-button" title="Use 50-50 (150 coins)" style="background-image: url('/icons/borrar.png');"></button>
                        <p class="wildcard-title">50-50</p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</main>
<script>
    function toggleProfileMenu() {
        var menu = document.getElementById('profile-menu');
        menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
    }
</script>
</body>
</html>
